.et-body-wrapper {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  height: 80vh;
}

.et-center {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.et-center-dashboards {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.et-chart {
  width: 100%;
}

.et-chart {
  margin: 10px auto;
  background-color: white;
  border-radius: 8px;
  padding: 5px;
  /* height: 400px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.et-chart-title {
  font-size: 26px;
  color: gray;
}

.et-sub-title {
  margin-top: 10px;
  color: gray;
}

.et-details-dashboard {
  margin: 10px 0;
  background-color: white;
  border-radius: 8px;
  padding: 5px;
  height: 130px;
  width: 100%;
}

.et-left-side,
.et-right-side {
  display: none;
}

.et-add-new-btn {
  display: block;
  width: 50%;
  margin: 20px auto 0 auto;
  text-align: center;
  background-color: blueviolet;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-weight: 700;
}

.et-add-new-btn:hover {
  background-color: rgb(169, 83, 250);
}

.et-progress-bar {
  width: 320px;
  height: 320px;
  margin: 10px auto;
}

.et-details-txt {
  font-size: 22px;
  color: gray;
}

.et-details-value {
  font-size: 48px;
  padding: 5px;
}

@media (min-width: 768px) {
  .et-body-wrapper {
    justify-content: space-between;
  }

  .et-center {
    flex: 3;
  }

  .et-center-dashboards {
    order: -1;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }

  .et-details-dashboard {
    width: 30%;
  }

  .et-left-side {
    flex: 1;
  }

  .et-right-side {
    flex: 2;
  }

  .et-left-side,
  .et-right-side {
    display: block;
    margin: 10px auto;
    background-color: white;
    border-radius: 8px;
    padding: 5px 0;
  }

  .et-add-new-btn {
    display: none;
  }

  .et-details-txt {
    font-size: 16px;
  }

  .et-details-value {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .et-details-txt {
    font-size: 20px;
  }

  .et-details-value {
    font-size: 48px;
  }
}
