.et-popup-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 50%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.et-popup-content {
  /* border: 2px red solid; */
  width: 90vw;
  /* height: 25vh; */
  /* text-align: center; */
  padding: 10px;
  z-index: 2;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

.et-popup-close-btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.et-popup-form {
  background-color: aliceblue;
  padding: 10px;
  margin: 20px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.et-popup-form-label {
  font-size: 18px;
  color: gray;
  margin-bottom: 7px;
}

.et-popup-form-input {
  padding: 8px;
  margin: 5px auto;
}

.et-popup-form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.et-popup-form-input input {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  border: none;
}

.et-popup-form-submit-btn {
  width: 50%;
  align-self: center;
  padding: 10px 5px;
  border: none;
  background-color: blueviolet;
  color: white;
  border-radius: 8px;
  font-weight: 700;
}

.et-popup-form-submit-btn:hover {
  background-color: rgb(169, 83, 250);
}

@media (min-width: 768px) {
  .et-popup-content {
    width: 30vw;
  }
}
