.et-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px;
  height: 80px;
  border-radius: 8px;
}

.et-header-left {
  margin-left: 10px;
}

.et-header-right {
  margin-right: 10px;
}

.et-header-icon {
  width: 50px;
  height: 50px;
}

.et-header-name {
  display: none;
}

.et-header-right {
  display: flex;
  align-items: center;
}

.et-header-menu-icon {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.et-header-avatar {
  width: 40px;
  height: 40px;
  /* background-color: blue; */
  border-radius: 50%;
  margin-right: 5px;
  overflow: hidden;
  cursor: pointer;
}

.et-header-hello-txt {
  margin-right: 30px;
  display: none;
  font-size: 20px;
  color: gray;
}

.et-header-avatar-img {
  width: 100%;
  height: 100%;
  object-position: center;
}

@media (min-width: 768px) {
  .et-header-icon {
    display: none;
  }

  .et-header-name {
    display: block;
    font-size: 36px;
    font-weight: 1000;
  }

  .et-header-menu-icon {
    display: block;
  }

  .et-header-hello-txt {
    display: block;
  }

  .et-header-avatar {
    margin-right: 30px;
  }
}
