.et-transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.et-right-wrapper {
  height: 100%;
  position: relative;
}

.et-right-topic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: gray;
  border-bottom: 1px solid rgb(184, 184, 184);
  /* margin: 0 5px; */
}

.et-transaction {
  margin: 15px 5px;
  color: gray;
  border-bottom: 1px solid rgb(184, 184, 184);
  padding: 8px;
}

.et-tx-desccription {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
}

.et-tx-date {
  font-size: 24px;
}

.et-tx-amount {
  display: flex;
  gap: 3px;
  align-items: center;
  font-size: 20px;
}
.et-tx-more-icon {
  cursor: pointer;
}

.et-add-new-bar {
  position: absolute;
  bottom: 20px;
  background-color: blueviolet;
  color: white;
  padding: 10px;
  border-radius: 8px;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-weight: 700;
}

.et-add-new-bar:hover {
  background-color: rgb(169, 83, 250);
}

.et-income {
  color: #6464df;
}

.et-expence {
  color: #f74c4c;
}
