@import url("https://fonts.googleapis.com/css2?family=Acme&family=Great+Vibes&family=Ubuntu+Condensed&display=swap");

* {
  box-sizing: border-box;
  transition: 0.3s;
  font-family: "Acme", sans-serif;
  font-family: "Great Vibes", cursive;
  font-family: "Ubuntu Condensed", sans-serif;
}

body {
  background-color: lavender;
}
