.et-left-link {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.et-left-link:hover {
  background-color: rgb(196, 196, 253);
}

.et-link-text {
  font-size: 18px;
  color: gray;
}

.active-txt {
  color: black;
}
